
@{
    ViewBag.Title = "page404";
}

<title> Page 404</title>
<div id="wrapper">

    <div id="error-404">

        <div class="content-404">

            <h1>404</h1>

            <h2>Oops, This Page Could Not Be Found!</h2>

            <a href="~/menu/menu"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/assets/logo-small.png" alt=""></a>

        </div><!-- .content-404 -->

    </div><!-- .error-404 -->

</div><!-- #wrapper -->
