<!doctype html>

<html>

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Checkout - Universum</title>


    <!-- Style CSS -->

    <link rel="stylesheet" type="text/css" href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/style.css">

    <!-- Responsive CSS -->

    <link rel="stylesheet" type="text/css" href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/css/responsive.css">

    <!-- Favicon -->

    <link rel="shortcut icon" type="image/png" href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/assets/favicon.png" />

</head>


<body class="shopping-cart">

    <div id="content" class="site-content">

        <div class="page-title parallax-window" data-parallax="scroll" data-image-src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog-title.jpg">

            <div class="container">

                <h1>Checkout</h1>

                <div class="breadcrumb">

                    <ul>

                        <li><a href="#">Home</a></li>

                        <li><span class="current">Checkout</span></li>

                    </ul>

                </div><!-- .breadcrumb -->

            </div><!-- .container -->

        </div><!-- .page-title -->

        <div class="container">

            <div class="row">

                <main id="main" class="site-main col-md-12">

                    <div class="row">

                        <div class="col-md-8">

                            <div class="shipping-fields">

                                <h2>Ship to a Defferent Address?</h2>

                                <div class="input-field clearfix create-acc">

                                    <div class="checkbox pull-left">

                                        <input name="create-acc" id="create-acc" value="yes" type="checkbox">

                                        <label for="create-acc">Create An Account?</label>

                                    </div>


                                    <div class="site-info pull-right">           @*Modifier cette pertie        Click here to login*@

                                        Returning customer? <a href="~/Panier/Add" class="showlogin">     Add Panier</a>

                                    </div><!-- .site-info -->

                                </div><!-- .input-field -->


                                <div class="input-field">

                                    <div class="selectbox">

                                        <select name="country" id="country">

                                            <option>Country *</option>

                                            <option value="vietnam">Vietnam</option>

                                            <option value="US">US</option>

                                        </select>

                                    </div>

                                </div><!-- .input-field -->


                                <div class="input-field pull-left col-2">

                                    <input type="text" name="first-name" placeholder="First Name *">

                                </div><!-- .input-field -->


                                <div class="input-field pull-right col-2">

                                    <input type="text" name="last-name" placeholder="Last Name">

                                </div><!-- .input-field -->


                                <div class="input-field clearfix">

                                    <input type="text" name="company-name" placeholder="Company Name">

                                </div><!-- .input-field -->


                                <div class="input-field pull-left col-2">

                                    <input type="text" name="street-address" placeholder="Street Address *">

                                </div><!-- .input-field -->


                                <div class="input-field pull-right col-2">

                                    <input type="text" name="apartment" placeholder="Apartment, suite, unite ect (optinal)">

                                </div><!-- .input-field -->


                                <div class="input-field clearfix">

                                    <input type="text" name="town-city" placeholder="Town/City *">

                                </div><!-- .input-field -->


                                <div class="input-field">

                                    <input type="text" name="contry-states" placeholder="Contry/States">

                                </div><!-- .input-field -->


                                <div class="input-field">

                                    <input type="text" name="zip-code" placeholder="Post code/Zip *">

                                </div><!-- .input-field -->


                                <div class="input-field pull-left col-2">

                                    <input type="text" name="email" placeholder="Email Address *">

                                </div><!-- .input-field -->


                                <div class="input-field pull-right col-2">

                                    <input type="text" name="phone-number" placeholder="Phone Number">

                                </div><!-- .input-field -->


                                <div class="input-field clearfix">

                                    <textarea name="note" placeholder="Order Note" rows="4" cols="22"></textarea>

                                </div><!-- .input-field -->

                            </div><!-- .shipping-fields -->

                        </div>


                    </div><!-- .row -->
                    <input type="button" value="Add Panier" class="button primary rounded pull-right">

                </main><!-- .site-main -->

            </div><!-- .row -->

        </div><!-- .container -->

    </div><!-- .site-content -->
    @*<button href="~/Shop_prod/shop"> Add Panier </button>*@
    <!-- jQuery -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/jquery-1.11.3.js"></script>

    <!-- Boostrap -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/bootstrap.min.js"></script>

    <!-- Jquery Parallax -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/parallax.min.js"></script>

    <!-- jQuery UI -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/jquery-ui.min.js"></script>

    <!-- jQuery Sticky -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/jquery.sticky.js"></script>

    <!-- OWL CAROUSEL Slider -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/owl.carousel.js"></script>

    <!-- PrettyPhoto -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/jquery.prettyPhoto.js"></script>

    <!-- Jquery Isotope -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/isotope.pkgd.min.js"></script>

    <!-- Main -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/main.js"></script>

</body>

</html>

