<!doctype html>

<html>



<head>
    <link rel="stylesheet" href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/css/media.css" />
    <meta charset="utf-8">
   
    <meta name="description" content="CSS3 Social Slide Menu + Fullscreen" />
    <meta name="keywords" content="CSS3 interactive social slide menu" />
    <meta name="author" content="Naser Salech">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/a27dd81c60.css">
    @*<link href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/css/sticon.css" rel="stylesheet" />*@

    <link href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/css/soci.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="backcolor.css"/>*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="favicon.ico" rel="shortcut icon">
    <title> Library And Education </title>


    <!-- Style CSS -->

    <link href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/css/aabb.css" rel="stylesheet" />
    <link href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/style.css" rel="stylesheet" />
    <link href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/css/st.css" rel="stylesheet" />
    <!-- Responsive CSS -->

    <link rel="stylesheet" type="text/css" href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/css/responsive.css">

    <!-- Favicon -->

    @*<link rel="shortcut icon" type="image/png" href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/assets/favicon.png" />*@
    


</head>


<body class="home1">
    @*<ul class="social-icons pull-right hidden-xs">
        <li class="social-rss">
            <a href="#" target="_blank" title="RSS"></a>
        </li>
        <li class="social-twitter">
            <a href="#" target="_blank" title="Twitter"></a>
        </li>
        <li class="social-facebook">
            <a href="#" target="_blank" title="Facebook"></a>
        </li>
        <li class="social-googleplus">
            <a href="#" target="_blank" title="GooglePlus"></a>
        </li>
    </ul>*@

    <div id="pageloader">

        <div class="pageloader">

            <div class="thecube">

                <div class="cube c1"></div>

                <div class="cube c2"></div>

                <div class="cube c4"></div>

                <div class="cube c3"></div>

            </div>


            <div class="textedit">

                <span class="site-name"> Library And Education</span>

                <span class="site-tagline">***************   Bievennu   ****************</span>
                  
            </div>

        </div><!-- .pageloader -->

    </div><!-- #pageloader -->



        <header id="header" class="site-header">

            <div class="top-header">

                <div class="container">

                    <div class="row">

                        <div class="col-md-7 col-sm-7 col-xs-2">

                            <nav class="top-nav">

                                <span class="mobile-btn"><i class="fa fa-bars"></i></span>

                                <ul>
                                    <li> <a href="~/Authentifier/login"> Login</a></li>
                                    <li><a href="#">Formation</a></li>

                                    <li><a href="#">Evenement</a></li>

                                    @*<li><a href="#">Editeur</a></li>

                                    <li><a href="#">Libraire</a></li>*@
                                  
                                    <li><a href="#PROFESSEUR EN VEDETTE">Auteur</a></li>
                                        <li>
                                            <div class="social_icon">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                                <a href="#"><i class="fa fa-youtube"></i></a>
                                            </div>
                                        </li>


                                 
                                </ul>

                               
                                   
                              
                            </nav>

                        </div>


                        @*<div class="btn-login pull-right">
                            <a href="#"><span class="toggle"></span><span class="toggleText">Member Login</span></a>
                            <form class="form-inline">

                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-user"></i></span>
                                    <input class="span2" id="prependedInput" type="text" placeholder="Username">
                                </div>
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-lock"></i></span>
                                    <input id="prependedInput2" type="password" class="span2 input-small" placeholder="Password">
                                </div>
                                <button type="submit" class="btn">Sign in</button>
                            </form>
                        </div>*@










                   
                       
                   

                        <div class="col-md-5 col-sm-5 col-xs-10">

                            <div class="top-right">

                                <div class="language dropdown">

                                    <ul>

                                        <li>
                                            <a href="#">English</a>

                                            <ul>

                                                <li><a href="#">English</a></li>

                                                <li><a href="#">France</a></li>

                                                <li><a href="#">Germany</a></li>

                                                <li><a href="#">Japanese</a></li>

                                            </ul>

                                        </li>

                                    </ul>

                                </div><!-- .language -->


                                <div class="searchbox">

                                    <form method="get" class="search-form" action="#">

                                        <label>

                                            <span class="screen-reader-text">Search for:</span>

                                            <input type="search" class="search-field" placeholder="Search" name="s" />

                                        </label>

                                        <input type="submit" class="search-submit" value="Search" />

                                    </form>

                                </div><!-- .searchbox -->

                                @*<div class="shopping-cart">*@
                                <div>        <a  class="add_to_cart_button product_type_simple" data-product_id="535" data-product_sku="" href="#" data-quantity="1"><i class="fa fa-shopping-cart">  Panier</i></a></div> 



</div><!-- .top-right -->

                        </div>

                    </div><!-- .row -->

                </div><!-- .container -->

            </div><!-- .top-header -->
          
            @*<div class="social-container">
                <ul>

                    <li class="social-nav">
                        <div class="social-icon-bg">
                            <div class="social-icon">
                                <span id="facebook"><i class="fa fa-facebook fa-2x"></i></span>
                            </div>
                        </div>
                        <div class="social-title">
                            <a href="https://www.facebook.com" target="_blank">Facebook</a>
                        </div>
                    </li>
                    <li class="social-nav">
                        <div class="social-icon-bg">
                            <div class="social-icon">
                                <i class="fa fa-twitter fa-2x"></i>
                            </div>
                        </div>
                        <div class="social-title">
                            <a href="https://twitter.com/login" target="_blank">Twitter</a>
                        </div>
                    </li>
                    <li class="social-nav">
                        <div class="social-icon-bg">
                            <div class="social-icon">
                                <i class="fa fa-google-plus fa-2x"></i>
                            </div>
                        </div>
                        <div class="social-title">
                            <a href="https://accounts.google.com/ServiceLogin?service=oz&passive=1209600&continue=https://plus.google.com/up/?continue%3Dhttps://plus.google.com/people%26gpsrc%3Dgplp0#identifier" target="_blank">Google+</a>
                        </div>
                    </li>
                    <li class="social-nav">
                        <div class="social-icon-bg">
                            <div class="social-icon">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </div>
                        </div>
                        <div class="social-title">
                            <a href="https://www.linkedin.com/uas/login" target="_blank">Linked In</a>
                        </div>
                    </li>
                    <li class="social-nav">
                        <div class="social-icon-bg">
                            <div class="social-icon">
                                <i class="fa fa-skype fa-2x"></i>
                            </div>
                        </div>
                        <div class="social-title">
                            <a href="https://www.skype.com/fr/" target="_blank">Skype</a>
                        </div>
                    </li>
                    <li class="social-nav">
                        <div class="social-icon-bg">
                            <div class="social-icon">
                                <i class="fa fa-youtube-play fa-2x"></i>
                            </div>
                        </div>
                        <div class="social-title">
                            <a href="https://www.youtube.com/" target="_blank">YouTube</a>
                        </div>
                    </li>

                    <li class="social-nav">
                        <div class="social-icon-bg">
                            <div class="social-icon">
                                <i class="fa fa-instagram fa-2x"></i>
                            </div>
                        </div>
                        <div class="social-title">
                            <a href="https://www.instagram.com/accounts/login/" target="_blank">Instagram</a>
                        </div>
                    </li>




                </ul>
            </div>
            <script src="jquery.fullscreen.js"></script>*@



            <div class="mid-header">

                <div class="container">

                    <div class="row">

                        <div class="col-md-4 col-sm-8 col-xs-9">

                            <div class="site-brand">

                                <a class="logo" href="index-2.html">

                                    @*<h1> Library And Education </h1>*@
                                    <img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/library.png" />

                                </a>

                            </div><!-- .site-brand -->

                        </div>


                        <div class="col-md-8 col-sm-4 col-xs-3">

                            <nav class="main-menu">

                                <span class="mobile-btn"><i class="fa fa-bars"></i></span>

                                <ul>

                                    <li class="current-menu-item">
                                        <a href="#"> Accueil </a>

                                        <ul class="sub-menu">

                                            <li class="current-menu-item"><a href="~/menu/menu"> Bienvennu, Library And Education </a></li>

                                        </ul>

                                    </li>

                                    <li>
                                        @*<a href="~/course/course"> Books </a>*@
                                        <a href="~/ouvrage2/ouvrage2"> Ouvrage</a>
                                    </li>
                                        @*<div class="sub-menu mega-menu">

                </div> .mega-menu*@

                                    @*<div class="row">
            </div>*@
                                    @*<div class="col-md-3">

                <h3>Courses Pages</h3>

                <ul>

                    <li><a href="~/course/course">Courses</a></li>

                    <li><a href="courses-fullwidth.html">Courses Fullwidth</a></li>

                    <li><a href="courses-list.html">Courses List</a></li>

                    <li><a href="courses-table.html">Courses Table</a></li>

                    <li><a href="courses-table-fullwidth.html">Courses Table Fullwidth</a></li>

                </ul>

            </div>*@


                                    @*<div class="col-md-3">

                <h3>Single Courses</h3>

                <ul>

                    <li><a href="single-course.html">Single Courses Version 1</a></li>

                    <li><a href="single-course-v2.html">Single Courses Version 2</a></li>

                    <li><a href="single-course-v3.html">Single Courses Version 3</a></li>

                </ul>

            </div>*@


                                    @*<div class="col-md-3">

                <h3>Sciences</h3>

                <ul>

                    <li><a href="#">Biophysics</a></li>

                    <li><a href="#">Business Economics</a></li>

                    <li><a href="#">Education</a></li>

                    <li><a href="#">Computer Science</a></li>

                    <li><a href="#">Philosophy</a></li>
                    <li><a href="#">Population Sciences</a></li>
                    <li><a href="#"> Physics</a></li>
                    <li><a href="#"> Mathematics </a></li>

                </ul>

            </div>*@


                                    @*<div class="col-md-3">

                <h3>HIGHER EDUCATION</h3>

                <ul>

                    <li><a href="#">Master of Philosophy</a></li>

                    <li><a href="#">Master of Mathematics </a></li>

                    <li><a href="#">MBA</a></li>

                    <li><a href="#">Master of Physics</a></li>

                    <li><a href="#">Population Health Sciences</a></li>

                </ul>

            </div>*@

                                    <!-- .row -->
                                    @*<li>
            <a href="#">Events</a>

            <ul class="sub-menu">*@

                                    <li><a href="~/ListeEvent/Event">Evenement</a></li>

                                    @*<li><a href="event-calendar.html">Event Calendar</a></li>

            <li><a href="single-event.html">Single Event</a></li>*@

                                    @*</ul>

            </li>*@

                                    @*<li>
                    <a href="#">Shop</a>
            </ul>

            </li>
            <ul class="sub-menu">*@

                                    @*<li><a href="~/Shop/Shop">Shop Books</a></li>*@

                                    @*   <li><a href="shop-list.html">Shop List</a></li>

            <li><a href="shop-fullwidth.html">Shop Fullwidth</a></li>

            <li><a href="single-product.html">Single Product Left Sidebar</a></li>

            <li><a href="single-product-right-sidebar.html">Single Product Right Sidebar</a></li>

            <li><a href="cart.html">Shoping Cart</a></li>

            <li><a href="checkout.html">Checkout</a></li>*@



                                    @*<li>
            <a href="#">Blogs</a>

            <ul class="sub-menu">*@

                                    @*<li><a href="~/Blog/Blog">Document</a></li>*@
                                  
                                    <li><a href="~/ABOUT/about">Qui Sommes Nous ?</a></li>


                                    <li><a href="~/Contactez/contact">Contactez Nous</a></li>

                                </ul>                                  @*<li> <a href="~/Connexion/login"> Login</a></li>*@
                            </nav>

                        </div>

                    </div><!-- .row -->

                </div><!-- .container -->

            </div><!-- .mid-header -->

        </header><!-- .site-header -->

     





        <div id="content" class="site-content">

            <main id="main" class="site-main">

                <section class="main-slider fullscreen">

                    <div class="slider">

                        <div class="item">

                            @*<img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/slider1.jpg" alt="">*@
                          <img src="~/img/back_library-tables.jpg" alt="">

                            <div class="container">

                                <div class="slider-content">

                                    <div class="desc">

                                        <h2>The Library And Education off Maroc</h2>

                                        @*<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>*@

                                    </div>

                                    @*<div class="button-action">

                                    <a href="#" class="button primary rounded large">Apply Now</a>

                                </div>*@

                                </div><!-- .slider-content -->

                            </div><!-- .container -->

                        </div>                              <!-- .item -->
                        @*<div class="item">

                        <img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/slider2.jpg" alt="">

                        <div class="container">

                           <div class="slider-content">

                                <div class="desc">

                                    <h2>Back to schools</h2>

                                 <p>Knowledges obtained or developed by a learning process. Integer pharetra metus ut dolor aliquet accumsan et ut nunc. Sed nec sem sed quam suscipit aliquet. Nunc ac lorem at odio pharetra dapibus ac non justo.</p>

                                </div>

                                <div class="button-action">

                                    <a href="#" class="button primary rounded large">Apply Now</a>

                                </div>

                            </div><!-- .slider-content -->

                        </div><!-- .container -->

                    </div><!-- .item -->*@


                        <div class="item">

                            <img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/slider3.jpg" alt="">

                            <div class="container">

                                <div class="slider-content">

                                    <div class="desc">

                                        <h2>The Library And Education off Maroc</h2>

                                        @*<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>*@

                                    </div>

                                    @*<div class="button-action">

                                    <a href="#" class="button primary rounded large">Apply Now</a>

                                </div>*@

                                </div><!-- .slider-content -->

                            </div><!-- .container -->

                        </div><!-- .item -->







                        <div class="item">

                            <img src="~/img/3D-photo-wallpaper-custom-3d-wall-mural-wallpaper-fashion-font-b-library-b-font-shelves-3.jpg" alt=""/>

                            <div class="container">

                                <div class="slider-content">

                                    <div class="desc">

                                        <h2>The Library Perfect</h2>

                                        @*<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>*@

                                    </div>

                                    @*<div class="button-action">

                                    <a href="#" class="button primary rounded large">Apply Now</a>

                                </div>*@

                                </div><!-- .slider-content -->

                            </div><!-- .container -->

                        </div><!-- .item -->


                        <div class="item">

                            @*<img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/slider8.jpg" alt="">*@
                        <img src="~/img/book-254048_1280-1140x423.jpg" alt="" >
                            <div class="container">

                                <div class="slider-content">

                                    <div class="desc">

                                        <h2>Education, Event & Online Course Theme</h2>

                                        @*<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>*@

                                    </div>

                                    @*<div class="button-action">

                                    <a href="#" class="button primary rounded large">Apply Now</a>

                                </div>*@

                                </div><!-- .slider-content -->

                            </div><!-- .container -->

                        </div><!-- .item -->

                    </div><!-- .slider -->

                </section><!-- .main-slider -->
                <br /><br />
                <!--     Content    :-->
                @RenderBody()



                
                <div></div>


                <br />

          


                <div id="bottom" class="site-bottom">

                    <div class="container">

                        <div class="footer-widget bottom1">

                            <div class="row">

                                <div class="col-md-3 col-sm-6">

                                    <div class="widget">

                                        <h3 class="widget-title">À PROPOS DE LA BIBLIOTHÈQUE ET DE L'ÉDUCATION </h3>

                                        <div class="text-widget">

                                            <p>Bibliothèque et éducation Est-elle une bibliothèque publique? Elle vise à fournir une assistance aux stagiaires et aux étudiants qui visent l'intégration des étudiants à l'étude  </p>

                                        </div>

                                    </div><!-- .widget -->

                                </div>


                                @*<div class="col-md-3 col-sm-6">

                                <div class="widget">

                                    <h3 class="widget-title">All Courses</h3>

                                    <ul>

                                        <li><a href="#">Accounting Technologies</a></li>

                                        <li><a href="#">Business Law</a></li>

                                        <li><a href="#">Entrepreneurship</a></li>

                                        <li><a href="#">Marketing Online</a></li>

                                        <li><a href="#">Business Economics</a></li>

                                        <li><a href="#">Public Health</a></li>

                                        <li><a href="#">Health Policy</a></li>

                                        <li><a href="#">History of Science</a></li>

                                    </ul>

                                </div> .widget

                            </div>*@
                                @*<div id="googleMap" style="width:100%;height:400px;"></div>

                                <script>
function myMap() {
var mapProp= {
    center:new google.maps.LatLng(51.508742,-0.120850),
    zoom:5,
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
                                </script>

                                <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>*@




                                @*<div class="col-md-3 col-sm-6">

                                <div class="widget">

                                    <h3 class="widget-title">Quick links</h3>

                                    <ul>

                                        <li><a href="#">Studream Notices</a></li>

                                        <li><a href="#">Future Students</a></li>

                                        <li><a href="#">Why Studream?</a></li>

                                        <li><a href="#">Admissions, fees & Applications</a></li>

                                        <li><a href="#">Research Centres</a></li>

                                        <li><a href="#">International Students</a></li>

                                        <li><a href="#">Single subjects & Short courses</a></li>

                                        <li><a href="#">Faculties & Graduate Schools</a></li>

                                    </ul>

                                </div> .widget

                            </div>*@
                     
                                <div class="col-md-3 col-sm-6">

                                    <div class="widget contact-widget">

                                        <h3 class="widget-title">CONTACTEZ NOUS </h3>

                                        <ul>

                                            <li class="address">197 Street Hay Hassani 1,ISTA HH1 Suite 7S Casablanca, NY 10013</li>

                                            <li class="mobile">+(212)630 288350 <br />+(212)522 50624 </li>

                                            <li class="email"><a href="mailto:contact@university.com"> Mustafabouri@Gmail.com</a></li>

                                            <li class="time-work">Lundi - Vendredi 8.00 - 18.00<br />Sat 9.00 - 16.00</li>

                                        </ul>

                                    </div><!-- .widget -->

                                </div>

                               
                                <div class="col-md-3 col-sm-6">

                                    <div class="widget">

                                        @*
            <div class="socials">

                <ul>

                    <li><a href="https://www.instagram.com/accounts/login/" target="_blank"><i class="fa fa-instagram"></i></a></li>

                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>

                    <li><a href="https://twitter.com/login" target="_blank"><i class="fa fa-twitter"></i></a></li>
                </ul>

            </div>*@




                                        <div class="socials">
                                            <h3 class="widget-title"> PARTAGER SUR </h3>
                                            <div id="social-icon-wrapper">
                                                <a id="twitter" class="social-icon" href="https://twitter.com/login/"></a>
                                                <a id="facebook" class="social-icon" href="https://www.facebook.com/"></a>
                                                <a id="linkedin" class="social-icon" href="https://www.linkedin.com/uas/login"></a>
                                            </div>

                                        </div>
                                        </div>

                                    </div>

                              


                               


    <!--Search-->
                                    @*<div class="col-md-3 col-sm-6">

                                        <div class="widget newsletter-widget">

                                            <h3 class="widget-title">Newsletter</h3>

                                            <p>Sign up for our mailing ist to get new course and course updates.</p>

                                            <form action="#" method="get">

                                                <input type="email" placeholder="Enter email address">

                                                <input type="submit" value="Subscribe">

                                            </form>

                                        </div> .widget

                                    </div>*@


                                <!-- Instgram-->

                                <div class="col-md-3 col-sm-6">

                                    <div class="widget instargram-widget">

                                        <h3 class="widget-title">Instargram</h3>

                                        <div class="instargram">

                                            <ul>

                                                <li>
                                                    <a href="#" target="_blank">

                                                        <img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/instargram1.jpg" alt="">

                                                    </a>
                                                </li>


                                                <li>
                                                    <a href="#" target="_blank">

                                                        <img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/instargram2.jpg" alt="">

                                                    </a>
                                                </li>


                                                <li>
                                                    <a href="#" target="_blank">

                                                        <img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/instargram3.jpg" alt="">

                                                    </a>
                                                </li>


                                                <li>
                                                    <a href="#" target="_blank">

                                                        <img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/instargram4.jpg" alt="">

                                                    </a>
                                                </li>


                                                <li>
                                                    <a href="#" target="_blank">

                                                        <img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/instargram5.jpg" alt="">

                                                    </a>
                                                </li>


                                                <li>
                                                    <a href="#" target="_blank">

                                                        <img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/instargram6.jpg" alt="">

                                                    </a>
                                                </li>

                                            </ul>

                                        </div><!-- .instargram -->

                                    </div><!-- .widget -->

                                </div>


                            </div>

                        </div><!-- .bottom1 -->


                        <div class="footer-widget bottom2">

                            <div class="row">
                                <h3 class="widget-title">Payer Par  :</h3>
                                <center>
                                    <div class="col-xs-6">

                                        <img src="~/img/visa.png" alt="Visa">
                                        <img src="~/img/mastercard.png" alt="Mastercard">
                                        <img src="~/img/american-express.png" alt="American Express">
                                        <img src="~/img/paypal.png" alt="Paypal">

                                    </div>
                                </center>

                                @*<div class="col-md-3 col-sm-6">

                                <div class="widget">

                                    <h3 class="widget-title">Tags</h3>

                                    <div class="tags-cloud">

                                        <a href="#">education</a>

                                        <a href="#">event</a>

                                        <a href="#">university</a>

                                        <a href="#">course</a>

                                        <a href="#">campus</a>

                                        <a href="#">book</a>

                                        <a href="#">college</a>

                                        <a href="#">scholl</a>

                                        <a href="#">gallery</a>

                                        <a href="#">blog</a>

                                        <a href="#">new</a>

                                        <a href="#">student</a>

                                        <a href="#">design</a>

                                        <a href="#">theme</a>

                                    </div><!-- .tags-cloud -->

                                </div><!-- .widget -->

                            </div>*@


                              


                           

                            </div>

                        </div><!-- .bottom2 -->

                    </div><!-- .container -->

                </div><!-- .site-bottom -->

                <div id="copyright">
                    <div class="container">
                        <center>
                            <div class="back-to-top"><a href="#top" title="Back to top"><i class="fa fa-chevron-up"></i></a></div>
                            <div class="clrDiv"></div>
                        </center>
                    </div>
                </div>






                @*<span id="toTopHover" style="opacity: 0;"></span> 
                <style #toTopHover>  {
    background: url(~/ui.totop.png) no-repeat 0 bottom;
    width: 39px;
    height: 39px;
    display: block;
    overflow: hidden;
    float: left;
        opacity: 0;
   
                </style>*@

                <footer id="footer" class="site-footer">

                    <div class="container">

                        <div class="row">

                            <div class="col-md-6 col-sm-6">

                                <div class="copyright">

                                    <p>Copyright © 2017 Library And Education. Developped by Mustapha</p>

                                </div><!-- .copyright -->

                            </div>


                            @*<div class="col-md-6 col-sm-6">

                            <nav class="nav-footer">

                                <ul>

                                    <li><a href="#">Privacy Policy</a></li>

                                    <li><a href="#">Disclaimer</a></li>

                                    <li><a href="#">Feedback</a></li>

                                </ul>

                            </nav>

                        </div>*@

                        </div>

                    </div><!-- .container -->

                </footer><!-- .site-footer -->
            </main>
        </div><!-- #wrapper -->
        <!-- jQuery -->

        <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/jquery-1.11.3.js"></script>

        <!-- Boostrap -->

        <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/bootstrap.min.js"></script>

        <!-- Jquery Parallax -->

        <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/parallax.min.js"></script>

        <!-- jQuery UI -->

        <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/jquery-ui.min.js"></script>

        <!-- jQuery Sticky -->

        <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/jquery.sticky.js"></script>

        <!-- OWL CAROUSEL Slider -->

        <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/owl.carousel.js"></script>

        <!-- PrettyPhoto -->

        <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/jquery.prettyPhoto.js"></script>

        <!-- Jquery Isotope -->

        <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/isotope.pkgd.min.js"></script>

        <!-- Main -->

        <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/main.js"></script>

</body>

</html>

