
@{
    ViewBag.Title = "blog_grid";
}

<div id="content" class="site-content">

    <div class="page-title parallax-window" data-parallax="scroll" data-image-src="images/placeholder/blog-title.jpg">

        <div class="container">

            <h1>Blog Grid</h1>

            <div class="breadcrumb">

                <ul>

                    <li><a href="#">Home</a></li>

                    <li><span class="current">Blogs</span></li>

                </ul>

            </div><!-- .breadcrumb -->

        </div><!-- .container -->

    </div><!-- .page-title -->

    <div class="container">

        <div class="row">

            <main id="main" class="site-main col-md-12">

                <div class="row">

                    <article class="col-md-12 col-sm-6 col-xs-6 post first">

                        <div class="inner-post shadow">

                            <div class="post-thumb">

                                <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog1.jpg" alt=""></a>

                            </div><!-- .post-thumb -->


                            <div class="post-info">

                                <h3 class="post-title"><a href="single.html">Top 10 Universities have the best quality</a></h3>

                                <ul class="post-meta">

                                    <li><i class="fa fa-clock-o"></i> February  10, 2016</li>

                                </ul>

                                <div class="post-desc">

                                    <p>Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.</p>

                                </div><!-- .post-desc -->

                                <a href="single.html" class="link">Read more</a>

                            </div><!-- .post-info -->

                        </div><!-- .inner-post -->

                    </article>


                    <article class="col-md-4 col-sm-6 col-xs-6 post">

                        <div class="inner-post shadow">

                            <div class="post-thumb">

                                <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog2.jpg" alt=""></a>

                            </div><!-- .post-thumb -->


                            <div class="post-info">

                                <h3 class="post-title"><a href="single.html">Back to school with courses of Universum</a></h3>

                                <ul class="post-meta">

                                    <li><i class="fa fa-clock-o"></i> February  10, 2016</li>

                                </ul>

                                <div class="post-desc">

                                    <p>Nulla cursus augue elit, at ullamcorper urna rhoncus a. Proin ipsum tortor, gravida at convallis a, tempor sed magna</p>

                                </div><!-- .post-desc -->

                                <a href="single.html" class="link">Read more</a>

                            </div><!-- .post-info -->

                        </div><!-- .inner-post -->

                    </article>


                    <article class="col-md-4 col-sm-6 col-xs-6 post">

                        <div class="inner-post shadow">

                            <div class="post-thumb">

                                <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog3.jpg" alt=""></a>

                            </div><!-- .post-thumb -->


                            <div class="post-info">

                                <h3 class="post-title"><a href="single.html">Research works of students about to be start</a></h3>

                                <ul class="post-meta">

                                    <li><i class="fa fa-clock-o"></i> February  10, 2016</li>

                                </ul>

                                <div class="post-desc">

                                    <p>Morbi iaculis, sem vel luctus pulvinar, tortor dolor pharetra enim, porta gravida nulla turpis sed risus. In turpis ligula</p>

                                </div><!-- .post-desc -->

                                <a href="single.html" class="link">Read more</a>

                            </div><!-- .post-info -->

                        </div><!-- .inner-post -->

                    </article>


                    <article class="col-md-4 col-sm-6 col-xs-6 post">

                        <div class="inner-post shadow">

                            <div class="post-thumb">

                                <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog4.jpg" alt=""></a>

                            </div><!-- .post-thumb -->


                            <div class="post-info">

                                <h3 class="post-title"><a href="single.html">School euismod, arcu vel porttitor consectetu</a></h3>

                                <ul class="post-meta">

                                    <li><i class="fa fa-clock-o"></i> February  10, 2016</li>

                                </ul>

                                <div class="post-desc">

                                    <p>Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.</p>

                                </div><!-- .post-desc -->

                                <a href="single.html" class="link">Read more</a>

                            </div><!-- .post-info -->

                        </div><!-- .inner-post -->

                    </article>


                    <article class="col-md-4 col-sm-6 col-xs-6 post">

                        <div class="inner-post shadow">

                            <div class="post-thumb">

                                <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog5.jpg" alt=""></a>

                            </div><!-- .post-thumb -->


                            <div class="post-info">

                                <h3 class="post-title"><a href="single.html">Classroom blandit eleifend augue et sagittis</a></h3>

                                <ul class="post-meta">

                                    <li><i class="fa fa-clock-o"></i> February  10, 2016</li>

                                </ul>

                                <div class="post-desc">

                                    <p>Nulla cursus augue elit, at ullamcorper urna rhoncus a. Proin ipsum tortor, gravida at convallis a, tempor sed magna</p>

                                </div><!-- .post-desc -->

                                <a href="single.html" class="link">Read more</a>

                            </div><!-- .post-info -->

                        </div><!-- .inner-post -->

                    </article>


                    <article class="col-md-4 col-sm-6 col-xs-6 post">

                        <div class="inner-post shadow">

                            <div class="post-thumb">

                                <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog6.jpg" alt=""></a>

                            </div><!-- .post-thumb -->


                            <div class="post-info">

                                <h3 class="post-title"><a href="single.html">Play basketball in erat eu mi convallis bibendum</a></h3>

                                <ul class="post-meta">

                                    <li><i class="fa fa-clock-o"></i> January  22, 2016</li>

                                </ul>

                                <div class="post-desc">

                                    <p>Morbi iaculis, sem vel luctus pulvinar, tortor dolor pharetra enim, porta gravida nulla turpis sed risus. In turpis ligula</p>

                                </div><!-- .post-desc -->

                                <a href="single.html" class="link">Read more</a>

                            </div><!-- .post-info -->

                        </div><!-- .inner-post -->

                    </article>


                    <article class="col-md-4 col-sm-6 col-xs-6 post">

                        <div class="inner-post shadow">

                            <div class="post-thumb">

                                <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog7.jpg" alt=""></a>

                            </div><!-- .post-thumb -->


                            <div class="post-info">

                                <h3 class="post-title"><a href="single.html">Visit our library of University ut pretium</a></h3>

                                <ul class="post-meta">

                                    <li><i class="fa fa-clock-o"></i> January  21, 2016</li>

                                </ul>

                                <div class="post-desc">

                                    <p>Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.</p>

                                </div><!-- .post-desc -->

                                <a href="single.html" class="link">Read more</a>

                            </div><!-- .post-info -->

                        </div><!-- .inner-post -->

                    </article>


                    <article class="col-md-4 col-sm-6 col-xs-6 post">

                        <div class="inner-post shadow">

                            <div class="post-thumb">

                                <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog8.jpg" alt=""></a>

                            </div><!-- .post-thumb -->


                            <div class="post-info">

                                <h3 class="post-title"><a href="single.html">Campus finibus mauris dui, eu iaculis eros laoreet</a></h3>

                                <ul class="post-meta">

                                    <li><i class="fa fa-clock-o"></i> January  20, 2016</li>

                                </ul>

                                <div class="post-desc">

                                    <p>Nulla cursus augue elit, at ullamcorper urna rhoncus a. Proin ipsum tortor, gravida at convallis a, tempor sed magna</p>

                                </div><!-- .post-desc -->

                                <a href="single.html" class="link">Read more</a>

                            </div><!-- .post-info -->

                        </div><!-- .inner-post -->

                    </article>


                    <article class="col-md-4 col-sm-6 col-xs-6 post">

                        <div class="inner-post shadow">

                            <div class="post-thumb">

                                <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog9.jpg" alt=""></a>

                            </div><!-- .post-thumb -->


                            <div class="post-info">

                                <h3 class="post-title"><a href="single.html">Research works of students about to be start</a></h3>

                                <ul class="post-meta">

                                    <li><i class="fa fa-clock-o"></i> January  18, 2016</li>

                                </ul>

                                <div class="post-desc">

                                    <p>Morbi iaculis, sem vel luctus pulvinar, tortor dolor pharetra enim, porta gravida nulla turpis sed risus. In turpis ligula</p>

                                </div><!-- .post-desc -->

                                <a href="single.html" class="link">Read more</a>

                            </div><!-- .post-info -->

                        </div><!-- .inner-post -->

                    </article>


                    <article class="col-md-4 col-sm-6 col-xs-6 post">

                        <div class="inner-post shadow">

                            <div class="post-thumb">

                                <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog10.jpg" alt=""></a>

                            </div><!-- .post-thumb -->


                            <div class="post-info">

                                <h3 class="post-title"><a href="single.html">Study research ullamcorper leo eget facilisis</a></h3>

                                <ul class="post-meta">

                                    <li><i class="fa fa-clock-o"></i> January  15, 2016</li>

                                </ul>

                                <div class="post-desc">

                                    <p>Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.</p>

                                </div><!-- .post-desc -->

                                <a href="single.html" class="link">Read more</a>

                            </div><!-- .post-info -->

                        </div><!-- .inner-post -->

                    </article>

                </div>


                <a class="button large rounded load-more" href="#">Load more items</a>

            </main><!-- .site-main -->

        </div><!-- .row -->

    </div><!-- .container -->

</div><!-- .site-content -->

