<!doctype html>

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Shop Grid - Universum</title>


    <!-- Style CSS -->

    <link rel="stylesheet" type="text/css" href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/style.css">

    <!-- Responsive CSS -->

    <link rel="stylesheet" type="text/css" href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/css/responsive.css">

    <!-- Favicon -->

    <link rel="shortcut icon" type="image/png" href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/assets/favicon.png" />


  

</head>
<div id="content" class="site-content shop-content">

    <div class="page-title parallax-window" data-parallax="scroll" data-image-src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/shop-title.jpg">

        <div class="container">

            <h1>Shop Grid</h1>

            <div class="breadcrumb">

                <ul>

                    <li><a href="#">Home</a></li>

                    <li><span class="current">Shop</span></li>

                </ul>

            </div><!-- .breadcrumb -->

        </div><!-- .container -->

    </div><!-- .page-title -->

    @*<div class="page-title parallax-window" data-parallax="scroll" data-image-src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/shop-title.jpg">

        <div class="container">

            <h1>Shop List</h1>

            <div class="breadcrumb">

                <ul>

                    <li><a href="#">Home</a></li>

                    <li><span class="current">Shop</span></li>

                </ul>

            </div><!-- .breadcrumb -->

        </div><!-- .container -->

    </div><!-- .page-title -->*@

    <div class="container">

        <div class="row">

            <main id="main" class="site-main col-md-9">

                <div class="sort clearfix">

                    <form action="#" class="ordering pull-left">

                        <div class="selectbox">

                            <select class="orderby" name="orderby">

                                <option value="menu_order">Default sorting</option>

                                <option value="popularity">popularity</option>

                                <option value="rating">average rating</option>

                                <option value="date">newness</option>

                                <option value="price">price: low to high</option>

                                <option value="price-desc">price: high to low</option>

                            </select>

                        </div>

                    </form>


                    <div class="style-switch pull-right clearfix">

                        <a class="active" href="#" data-view="grid"><i class="fa fa-th"></i></a>

                        <a href="#" data-view="list"><i class="fa fa-th-list"></i></a>

                    </div>

                </div><!-- .sort -->


                <div class="products layout grid column-4">

                    <div class="product">

                        <div class="p-inner shadow clearfix">

                            <span class="badge onnew">New</span>

                            <div class="p-thumb">

                                <a href="single-product.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/product1.jpg" alt=""></a>

                            </div><!-- .p-thumb -->


                            <div class="p-info">

                                <h3 class="p-title"><a href="single-product.html">Furiously Happy: A Funny Book About Horrible</a></h3>

                                <div class="p-meta">

                                    <span class="p-cat">by <a href="#">Jenny Lawson</a></span>

                                </div><!-- .p-meta -->



                                <div class="p-desc">

                                    <p>In Furiously Happy, #1 New York Times bestselling author Jenny Lawson explores her lifelong battle with mental illness. A hysterical, ridiculous book about crippling depression and anxiety? That sounds like a terrible idea. Donec faucibus quam consectetur, elementum turpis ut, fringilla nisi. Mauris sit amet sollicitudin libero, maximus sollicitudin enim. </p>

                                </div>

                                <div class="p-rating">

                                    <div class="star-rating">

                                        <span style="width:80%"></span>

                                    </div>

                                    <span class="review">

                                        <a href="#">2 Review(s)</a> | <a href="#">Add Your Review</a>

                                    </span>

                                </div><!-- .p-rating -->


                                <p class="price">

                                    <ins><span class="amount">$139</span></ins>

                                </p>

                            </div><!-- .p-info -->


                            <div class="p-actions">

                                <a class="button rounded primary add-to-cart-button" href="#"><i class="fa fa-shopping-bag"></i> Add to Cart</a>

                                <a class="compare-button" href="#"><i class="fa fa-retweet"></i> Compare</a>

                                <span class="saperator"> | </span>

                                <a class="wishlist-button" href="#"><i class="fa fa-heart"></i> Wishlist</a>

                            </div><!-- .p-actions -->

                        </div><!-- .p-inner -->

                    </div><!-- .product -->


                    <div class="product">

                        <div class="p-inner shadow clearfix">

                            <div class="p-thumb">

                                <a href="single-product.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/product2.jpg" alt=""></a>

                            </div><!-- .p-thumb -->


                            <div class="p-info">

                                <h3 class="p-title"><a href="single-product.html">The Boiling River: Adventures and Discovery in the Amazon</a></h3>

                                <div class="p-meta">

                                    <span class="p-cat">by <a href="#">Andrés Ruzo</a></span>

                                </div><!-- .p-meta -->



                                <div class="p-desc">

                                    <p>In this exciting adventure mixed with amazing scientific discovery, a young, exuberant explorer and geoscientist, journeys deep into the Amazon—where rivers boil and legends come to life. Praesent vitae dui id risus convallis ornare. Proin magna libero, blandit sit amet pulvinar a, volutpat ac quam. Integer rutrum sem at purus tristique, ut accumsan tortor posuere.</p>

                                </div>

                                <div class="p-rating">

                                    <div class="star-rating">

                                        <span style="width:80%"></span>

                                    </div>

                                    <span class="review">

                                        <a href="#">2 Review(s)</a> | <a href="#">Add Your Review</a>

                                    </span>

                                </div><!-- .p-rating -->


                                <p class="price">

                                    <ins><span class="amount">$219</span></ins>

                                </p>

                            </div><!-- .p-info -->


                            <div class="p-actions">

                                <a class="button rounded primary add-to-cart-button" href="#"><i class="fa fa-shopping-bag"></i> Add to Cart</a>

                                <a class="compare-button" href="#"><i class="fa fa-retweet"></i> Compare</a>

                                <span class="saperator"> | </span>

                                <a class="wishlist-button" href="#"><i class="fa fa-heart"></i> Wishlist</a>

                            </div><!-- .p-actions -->

                        </div><!-- .p-inner -->

                    </div><!-- .product -->


                    <div class="product">

                        <div class="p-inner shadow clearfix">

                            <div class="p-thumb">

                                <a href="single-product.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/product3.jpg" alt=""></a>

                            </div><!-- .p-thumb -->


                            <div class="p-info">

                                <h3 class="p-title"><a href="single-product.html">Big Magic: Creative Living Beyond Fear</a></h3>

                                <div class="p-meta">

                                    <span class="p-cat">by <a href="#">Elizabeth Gilbert</a></span>

                                </div><!-- .p-meta -->



                                <div class="p-desc">

                                    <p>Readers of all ages and walks of life have drawn inspiration and empowerment from Elizabeth Gilbert’s books for years. Now this beloved author digs deep into her own generative process to share her wisdom and unique perspective about creativity. With profound empathy and radiant generosity, she offers potent insights into the mysterious nature of inspiration.</p>

                                </div>

                                <div class="p-rating">

                                    <div class="star-rating">

                                        <span style="width:80%"></span>

                                    </div>

                                    <span class="review">

                                        <a href="#">2 Review(s)</a> | <a href="#">Add Your Review</a>

                                    </span>

                                </div><!-- .p-rating -->


                                <p class="price">

                                    <ins><span class="amount">$139</span></ins>

                                </p>

                            </div><!-- .p-info -->


                            <div class="p-actions">

                                <a class="button rounded primary add-to-cart-button" href="#"><i class="fa fa-shopping-bag"></i> Add to Cart</a>

                                <a class="compare-button" href="#"><i class="fa fa-retweet"></i> Compare</a>

                                <span class="saperator"> | </span>

                                <a class="wishlist-button" href="#"><i class="fa fa-heart"></i> Wishlist</a>

                            </div><!-- .p-actions -->

                        </div><!-- .p-inner -->

                    </div><!-- .product -->


                    <div class="product">

                        <div class="p-inner shadow clearfix">

                            <div class="p-thumb">

                                <a href="single-product.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/product4.jpg" alt=""></a>

                            </div><!-- .p-thumb -->


                            <div class="p-info">

                                <h3 class="p-title"><a href="single-product.html">TED Book: How We'll Live on Mars</a></h3>

                                <div class="p-meta">

                                    <span class="p-cat">by <a href="#">Stephen Petranek</a></span>

                                </div><!-- .p-meta -->



                                <div class="p-desc">

                                    <p>It sounds like science fiction, but award-winning journalist Stephen Petranek considers it fact: Within 20 years, humans will live in Mars. We’ll need to. In this sweeping, provocative book. Donec faucibus quam consectetur, elementum turpis ut, fringilla nisi. Mauris sit amet sollicitudin libero, maximus sollicitudin enim. Duis malesuada rhoncus tortor nec semper. </p>

                                </div>

                                <div class="p-rating">

                                    <div class="star-rating">

                                        <span style="width:80%"></span>

                                    </div>

                                    <span class="review">

                                        <a href="#">2 Review(s)</a> | <a href="#">Add Your Review</a>

                                    </span>

                                </div><!-- .p-rating -->


                                <p class="price">

                                    <ins><span class="amount">$219</span></ins>

                                </p>

                            </div><!-- .p-info -->


                            <div class="p-actions">

                                <a class="button rounded primary add-to-cart-button" href="#"><i class="fa fa-shopping-bag"></i> Add to Cart</a>

                                <a class="compare-button" href="#"><i class="fa fa-retweet"></i> Compare</a>

                                <span class="saperator"> | </span>

                                <a class="wishlist-button" href="#"><i class="fa fa-heart"></i> Wishlist</a>

                            </div><!-- .p-actions -->

                        </div><!-- .p-inner -->

                    </div><!-- .product -->


                    <div class="product">

                        <div class="p-inner shadow clearfix">

                            <div class="p-thumb">

                                <a href="single-product.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/product5.jpg" alt=""></a>

                            </div><!-- .p-thumb -->


                            <div class="p-info">

                                <h3 class="p-title"><a href="single-product.html">Creativity, Inc.: Overcoming the Unseen Forces</a></h3>

                                <div class="p-meta">

                                    <span class="p-cat">by <a href="#">Ed Catmull</a></span>

                                </div><!-- .p-meta -->



                                <div class="p-desc">

                                    <p>Creativity, Inc. is a book for managers who want to lead their employees to new heights, a manual for anyone who strives for originality, and the first-ever, all-access trip into the nerve center of Pixar Animation—into the meetings, postmortems, and “Braintrust” sessions where some of the most successful films in history are made.</p>

                                </div>

                                <div class="p-rating">

                                    <div class="star-rating">

                                        <span style="width:80%"></span>

                                    </div>

                                    <span class="review">

                                        <a href="#">2 Review(s)</a> | <a href="#">Add Your Review</a>

                                    </span>

                                </div><!-- .p-rating -->


                                <p class="price">

                                    <ins><span class="amount">$170</span></ins>

                                </p>

                            </div><!-- .p-info -->


                            <div class="p-actions">

                                <a class="button rounded primary add-to-cart-button" href="#"><i class="fa fa-shopping-bag"></i> Add to Cart</a>

                                <a class="compare-button" href="#"><i class="fa fa-retweet"></i> Compare</a>

                                <span class="saperator"> | </span>

                                <a class="wishlist-button" href="#"><i class="fa fa-heart"></i> Wishlist</a>

                            </div><!-- .p-actions -->

                        </div><!-- .p-inner -->

                    </div><!-- .product -->


                    <div class="product">

                        <div class="p-inner shadow clearfix">

                            <div class="p-thumb">

                                <a href="single-product.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/product6.jpg" alt=""></a>

                            </div><!-- .p-thumb -->


                            <div class="p-info">

                                <h3 class="p-title"><a href="single-product.html">Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic</a></h3>

                                <div class="p-meta">

                                    <span class="p-cat">by <a href="#">Ashlee Vance</a></span>

                                </div><!-- .p-meta -->



                                <div class="p-desc">

                                    <p>In Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic Future, veteran technology journalist Ashlee Vance provides the first inside look into the extraordinary life and times of Silicon Valley's most audacious entrepreneur. Written with exclusive access to Musk, his family and friends, the book traces the entrepreneur's journey from a rough upbringing in South Africa.</p>

                                </div>

                                <div class="p-rating">

                                    <div class="star-rating">

                                        <span style="width:80%"></span>

                                    </div>

                                    <span class="review">

                                        <a href="#">2 Review(s)</a> | <a href="#">Add Your Review</a>

                                    </span>

                                </div><!-- .p-rating -->


                                <p class="price">

                                    <ins><span class="amount">$170</span></ins>

                                </p>

                            </div><!-- .p-info -->


                            <div class="p-actions">

                                <a class="button rounded primary add-to-cart-button" href="#"><i class="fa fa-shopping-bag"></i> Add to Cart</a>

                                <a class="compare-button" href="#"><i class="fa fa-retweet"></i> Compare</a>

                                <span class="saperator"> | </span>

                                <a class="wishlist-button" href="#"><i class="fa fa-heart"></i> Wishlist</a>

                            </div><!-- .p-actions -->

                        </div><!-- .p-inner -->

                    </div><!-- .product -->


                    <div class="product">

                        <div class="p-inner shadow clearfix">

                            <div class="p-thumb">

                                <a href="single-product.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/product7.jpg" alt=""></a>

                            </div><!-- .p-thumb -->


                            <div class="p-info">

                                <h3 class="p-title"><a href="single-product.html">All the Light We Cannot See</a></h3>

                                <div class="p-meta">

                                    <span class="p-cat">by <a href="#">Anthony Doerr</a></span>

                                </div><!-- .p-meta -->



                                <div class="p-desc">

                                    <p>In this exciting adventure mixed with amazing scientific discovery, a young, exuberant explorer and geoscientist, journeys deep into the Amazon—where rivers boil and legends come to life. Praesent vitae dui id risus convallis ornare. Proin magna libero, blandit sit amet pulvinar a, volutpat ac quam. Integer rutrum sem at purus tristique, ut accumsan tortor posuere.</p>

                                </div>

                                <div class="p-rating">

                                    <div class="star-rating">

                                        <span style="width:80%"></span>

                                    </div>

                                    <span class="review">

                                        <a href="#">2 Review(s)</a> | <a href="#">Add Your Review</a>

                                    </span>

                                </div><!-- .p-rating -->


                                <p class="price">

                                    <ins><span class="amount">$119</span></ins>

                                </p>

                            </div><!-- .p-info -->


                            <div class="p-actions">

                                <a class="button rounded primary add-to-cart-button" href="#"><i class="fa fa-shopping-bag"></i> Add to Cart</a>

                                <a class="compare-button" href="#"><i class="fa fa-retweet"></i> Compare</a>

                                <span class="saperator"> | </span>

                                <a class="wishlist-button" href="#"><i class="fa fa-heart"></i> Wishlist</a>

                            </div><!-- .p-actions -->

                        </div><!-- .p-inner -->

                    </div><!-- .product -->


                    <div class="product">

                        <div class="p-inner shadow clearfix">

                            <div class="p-thumb">

                                <a href="single-product.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/product8.jpg" alt=""></a>

                            </div><!-- .p-thumb -->


                            <div class="p-info">

                                <h3 class="p-title"><a href="single-product.html">52 Small Changes for the Mind</a></h3>

                                <div class="p-meta">

                                    <span class="p-cat">by <a href="#">Brett Blumenthal</a></span>

                                </div><!-- .p-meta -->



                                <div class="p-desc">

                                    <p>Readers of all ages and walks of life have drawn inspiration and empowerment from Elizabeth Gilbert’s books for years. Now this beloved author digs deep into her own generative process to share her wisdom and unique perspective about creativity. With profound empathy and radiant generosity, she offers potent insights into the mysterious nature of inspiration.</p>

                                </div>

                                <div class="p-rating">

                                    <div class="star-rating">

                                        <span style="width:80%"></span>

                                    </div>

                                    <span class="review">

                                        <a href="#">2 Review(s)</a> | <a href="#">Add Your Review</a>

                                    </span>

                                </div><!-- .p-rating -->


                                <p class="price">

                                    <ins><span class="amount">$139</span></ins>

                                </p>

                            </div><!-- .p-info -->


                            <div class="p-actions">

                                <a class="button rounded primary add-to-cart-button" href="#"><i class="fa fa-shopping-bag"></i> Add to Cart</a>

                                <a class="compare-button" href="#"><i class="fa fa-retweet"></i> Compare</a>

                                <span class="saperator"> | </span>

                                <a class="wishlist-button" href="#"><i class="fa fa-heart"></i> Wishlist</a>

                            </div><!-- .p-actions -->

                        </div><!-- .p-inner -->

                    </div><!-- .product -->

                </div><!-- .products -->


                <nav class="pagination">

                    <ul>

                        <li class="prev"><a href="#">Previous</a></li>

                        <li><span class="current">1</span></li>

                        <li><a href="#">2</a></li>

                        <li><a href="#">3</a></li>

                        <li><a href="#">4</a></li>

                        <li><a href="#">5</a></li>

                        <li><span>...</span></li>

                        <li><a href="#">68</a></li>

                        <li class="next"><a href="#">Next</a></li>

                    </ul>

                </nav>

            </main><!-- .site-main -->


            <div id="sidebar" class="sidebar col-md-3">

                <aside class="widget">

                    <h3 class="widget-title">Book Categories</h3>

                    <ul>

                        <li><a href="#">Business Books</a></li>

                        <li><a href="#">Technology Books</a></li>

                        <li><a href="#">Medicine Books</a></li>

                        <li><a href="#">Language Books</a></li>

                        <li><a href="#">Biological Books</a></li>

                        <li><a href="#">Architecture Books</a></li>

                    </ul>

                </aside><!-- .widget -->


                <aside class="widget price-widget">

                    <h3 class="widget-title">Filter by price</h3>

                    <div class="f-price">

                        <div id="slider-range"></div>

                        <button class="button primary rounded" type="button">Filter</button>

                        <span class="amount">Price: <span id="amount"></span></span>

                    </div>

                </aside><!-- .widget -->


                <aside class="widget courses-widget">

                    <h3 class="widget-title">Popular courses</h3>

                    <div class="courses">

                        <ul>

                            <li>

                                <a class="thumb" href="#"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/course-wd1.jpg" alt=""></a>

                                <div class="info">

                                    <h4><a href="#">The Secret to Making Money by starting a small business.</a></h4>

                                    <span><i class="fa fa-users"></i> 2289</span>

                                </div>

                            </li>


                            <li>

                                <a class="thumb" href="#"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/course-wd2.jpg" alt=""></a>

                                <div class="info">

                                    <h4><a href="#">Landscape Architecture, and Urban Planning</a></h4>

                                    <span><i class="fa fa-users"></i> 1762</span>

                                </div>

                            </li>


                            <li>

                                <a class="thumb" href="#"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/course-wd3.jpg" alt=""></a>

                                <div class="info">

                                    <h4><a href="#">Lesson english how to write a paragraph (writing)</a></h4>

                                    <span><i class="fa fa-users"></i> 1226</span>

                                </div>

                            </li>

                        </ul>

                    </div><!-- .widget -->

                </aside><!-- .widget -->

            </div><!-- .sidebar -->

        </div><!-- .row -->

    </div><!-- .container -->

</div><!-- .site-content -->

<!-- jQuery -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/jquery-1.11.3.js"></script>

<!-- Boostrap -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/bootstrap.min.js"></script>

<!-- Jquery Parallax -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/parallax.min.js"></script>

<!-- jQuery UI -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/jquery-ui.min.js"></script>

<!-- jQuery Sticky -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/jquery.sticky.js"></script>

<!-- OWL CAROUSEL Slider -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/owl.carousel.js"></script>

<!-- PrettyPhoto -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/jquery.prettyPhoto.js"></script>

<!-- Jquery Isotope -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/isotope.pkgd.min.js"></script>

<!-- Main -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/main.js"></script>
