












<div class="col-md-4">

    <div class="cart-collaterals">

        <h2> Facture  :</h2>

        <table>

            <tbody>

                <tr class="cart-subtotal">

                    <th> Prix :</th>

                    <td>    </td>
                </tr>

                <tr class="shipping">

                    <th>Shipping:</th>

                    <td>

                        <p>There are no shipping methods available. Please double check your address, or contact us if you need any help.</p>


                        <a class="shipping-calculator-button" href="#">Calculate Shipping</a>


                        @*<form action="#" method="get" accept-charset="utf-8">

                                <div class="selectbox">

                                    <select name="country">

                                        <option>Select a country...</option>

                                        <option value="vietnam">Vietnam</option>

                                        <option value="us">US</option>

                                        <option value="uk">UK</option>

                                    </select>

                                </div>


                                <input type="text" placeholder="State / country">


                                <input type="text" placeholder="Post Code / Zip">


                                <input type="button" value="Update Totals" class="button primary rounded">

                            </form>*@

                    </td>

                </tr>


                <tr class="order-total">

                    <th>Total :</th>

                    <td>    </td>

                </tr>


                <tr>
                    <td> TVA  : </td>
                </tr>

                <tr><td>   Montant   : </td></tr>
            </tbody>

        </table>

        <a class="button large full rounded proceed-checkout" href="#"> Imprimer Commande <i class="fa fa-long-arrow-right"></i></a>

    </div> .cart-collaterals

</div>

