
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<br />
@*<h1>  Contactez - Nous    :</h1>

<br />
<form action="" method="post"
<table>   
     <tr> <td> Nom :</td><td><input id="Text1" type="text" /></td></tr>
    <tr><td> Prenom :</td><td><input id="Text1" type="text" /></td></tr>
    <tr><td> E-mail :</td><td><input id="Text1" type="text" /> </td></tr>
    <tr><td> Message  :</td><td> <textarea id="TextArea1" rows="2" cols="20"></textarea></td></tr>
</table>
    </form>
<hr /><br />
<input id="Submit1" type="submit" value="Envoye Message" />

*@
<!Doctype>
<html>
<meta charset="utf-8"/>
<head>  
    <link rel="stylesheet" href="Contact/st1.css"</head>

<div class="x_content">
    <br>
    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

        <br />         <<center>   <h1>   Contacter - Nous   : </h1></center>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                First Name <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                Last Name <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="form-group">
            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12"> E - mail  :</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div id="gender" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        <input type="radio" name="gender" value="male" data-parsley-multiple="gender"> &nbsp; Male &nbsp;
                    </label>
                    <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        <input type="radio" name="gender" value="female" data-parsley-multiple="gender"> Female
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                Date Of Birth <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button class="btn btn-primary" type="button">Annuler</button>

                <button type="submit" class="btn btn-success">Envoye</button>
            </div>
        </div>

    </form>
</div>


</html>
