<!doctype html>

<html>


<!-- Mirrored from itcthemes.com/demo/Universum/html/event-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Mar 2017 17:41:03 GMT -->
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Event Grid - Universum</title>


    <!-- Style CSS -->

    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Responsive CSS -->

    <link rel="stylesheet" type="text/css" href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/css/responsive.css">

    <!-- Favicon -->

    <link rel="shortcut icon" type="image/png" href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/assets/favicon.png" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

      <script src="js/ie9/html5shiv.min.js"></script>

      <script src="js/ie9/respond.min.js"></script>

    <![endif]-->

</head>

<body>


<div id="content" class="site-content">

    <div class="page-title parallax-window" style="width:50px;height:100px" data-parallax="scroll" data-image-src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/event-title.jpg">

        <div class="container">

            <h1>Liste Evenement</h1>

            <div class="breadcrumb">

                <ul>

                    <li><a href="#">Accueil</a></li>

                    <li><span class="current">Evenement </span></li>

                </ul>

            </div><!-- .breadcrumb -->

        </div><!-- .container -->

    </div><!-- .page-title -->

    <div class="container">

        <div class="row">

            <main id="main" class="site-main col-md-12">

                <div class="filter">

                    <ul>

                        <li><a class="active" href="#" data-filter="*">All</a></li>

                        <li><a href="#" data-filter=".paid">Paid</a></li>

                        <li><a href="#" data-filter=".free">Free</a></li>

                    </ul>

                </div><!-- .filter -->


                <div class="events layout column-3 isotope">

                    <div class="event isotope-item paid">

                        <div class="event-inner shadow">

                            <div class="event-thumb">

                                <a class="mini-zoom" href="single-event.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/event1.jpg" alt=""></a>

                            </div><!-- .event-thumb -->


                            <div class="event-date">

                                <span>06</span>feb

                            </div>


                            <div class="event-info">

                                <h3 class="post-title"><a href="single-event.html">The new era of positive psychology</a></h3>

                                <ul class="event-meta">

                                    <li>At  8:30 am</li>

                                    <li>Brigde Campus, New York</li>

                                </ul>

                            </div><!-- .event-info -->

                        </div><!-- .event-inner -->

                    </div><!-- .course -->


                    <div class="event isotope-item free">

                        <div class="event-inner shadow">

                            <div class="event-thumb">

                                <a class="mini-zoom" href="single-event.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/event2.jpg" alt=""></a>

                            </div><!-- .event-thumb -->


                            <div class="event-date">

                                <span>18</span>feb

                            </div>



                            <div class="event-info">

                                <h3 class="post-title"><a href="single-event.html">Cambridge Campus, New York</a></h3>

                                <ul class="event-meta">

                                    <li>At  9:00 am</li>

                                    <li>Cambridge Campus, New York</li>

                                </ul>

                            </div><!-- .event-info -->

                        </div><!-- .event-inner -->

                    </div><!-- .course -->


                    <div class="event isotope-item free">

                        <div class="event-inner shadow">

                            <div class="event-thumb">

                                <a class="mini-zoom" href="single-event.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/event3.jpg" alt=""></a>

                            </div><!-- .event-thumb -->


                            <div class="event-date">

                                <span>22</span>feb

                            </div>



                            <div class="event-info">

                                <h3 class="post-title"><a href="single-event.html">How to connect social community?</a></h3>

                                <ul class="event-meta">

                                    <li>At  10:00 am</li>

                                    <li>Universum Campus, London</li>

                                </ul>

                            </div><!-- .event-info -->

                        </div><!-- .event-inner -->

                    </div><!-- .course -->


                    <div class="event isotope-item paid">

                        <div class="event-inner shadow">

                            <div class="event-thumb">

                                <a class="mini-zoom" href="single-event.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/event4.jpg" alt=""></a>

                            </div><!-- .event-thumb -->


                            <div class="event-date">

                                <span>29</span>feb

                            </div>



                            <div class="event-info">

                                <h3 class="post-title"><a href="single-event.html">What are animals thinking?</a></h3>

                                <ul class="event-meta">

                                    <li>At  8:30 am</li>

                                    <li>Brigde Campus, New York</li>

                                </ul>

                            </div><!-- .event-info -->

                        </div><!-- .event-inner -->

                    </div><!-- .course -->


                    <div class="event isotope-item paid">

                        <div class="event-inner shadow">

                            <div class="event-thumb">

                                <a class="mini-zoom" href="single-event.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/event5.jpg" alt=""></a>

                            </div><!-- .event-thumb -->


                            <div class="event-date">

                                <span>01</span>mar

                            </div>



                            <div class="event-info">

                                <h3 class="post-title"><a href="single-event.html">College success in science</a></h3>

                                <ul class="event-meta">

                                    <li>At  9:30 am</li>

                                    <li>Brigde Campus, New York</li>

                                </ul>

                            </div><!-- .event-info -->

                        </div><!-- .event-inner -->

                    </div><!-- .course -->


                    <div class="event isotope-item paid">

                        <div class="event-inner shadow">

                            <div class="event-thumb">

                                <a class="mini-zoom" href="single-event.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/event6.jpg" alt=""></a>

                            </div><!-- .event-thumb -->


                            <div class="event-date">

                                <span>02</span>mar

                            </div>



                            <div class="event-info">

                                <h3 class="post-title"><a href="single-event.html">Teach teachers how to create magic</a></h3>

                                <ul class="event-meta">

                                    <li>At  10:00 am</li>

                                    <li>Universum Campus, London</li>

                                </ul>

                            </div><!-- .event-info -->

                        </div><!-- .event-inner -->

                    </div><!-- .course -->

                </div><!-- .courses -->


                <nav class="pagination">

                    <ul>

                        <li class="prev"><a href="#">Previous</a></li>

                        <li><span class="current">1</span></li>

                        <li><a href="#">2</a></li>

                        <li><a href="#">3</a></li>

                        <li><a href="#">4</a></li>

                        <li><a href="#">5</a></li>

                        <li><span>...</span></li>

                        <li><a href="#">68</a></li>

                        <li class="next"><a href="#">Next</a></li>

                    </ul>

                </nav>

            </main><!-- .site-main -->

        </div><!-- .row -->

    </div><!-- .container -->

</div><!-- .site-content -->
<!-- jQuery -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/jquery-1.11.3.js"></script>

<!-- Boostrap -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/bootstrap.min.js"></script>

<!-- Jquery Parallax -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/parallax.min.js"></script>

<!-- jQuery UI -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/jquery-ui.min.js"></script>

<!-- jQuery Sticky -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/jquery.sticky.js"></script>

<!-- OWL CAROUSEL Slider -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/owl.carousel.js"></script>

<!-- PrettyPhoto -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/jquery.prettyPhoto.js"></script>

<!-- Jquery Isotope -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/isotope.pkgd.min.js"></script>

<!-- Main -->

<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/main.js"></script>

</body>


<!-- Mirrored from itcthemes.com/demo/Universum/html/event-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Mar 2017 17:41:15 GMT -->
</html>