
@{
    ViewBag.Title = "blog_v2";
}

<title>blog_v2</title>


<div id="content" class="site-content">

    <div class="page-title parallax-window" style="width:50px;height:100px" data-parallax="scroll" data-image-src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog-title.jpg">

        <div class="container">

            <h1>Blog List Version 2</h1>

            <div class="breadcrumb">

                <ul>

                    <li><a href="#">Accueil</a></li>

                    <li><span class="current">Document</span></li>

                </ul>

            </div><!-- .breadcrumb -->

        </div><!-- .container -->

    </div><!-- .page-title -->

    <div class="container">

        <div class="row">

            <main id="main" class="site-main col-md-9">

                <div class="row">

                    <article class="col-md-12 post">

                        <div class="inner-post shadow">

                            <div class="post-thumb">

                                <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog16.jpg" alt=""></a>

                            </div><!-- .post-thumb -->


                            <div class="post-info">

                                <h3 class="post-title"><a href="single.html">Top 10 universities have the best quality</a></h3>

                                <ul class="post-meta">

                                    <li><a href="#"><i class="fa fa-clock-o"></i> February 15, 2016</a></li>

                                    <li><a href="#"><i class="fa fa-user"></i> Anna Poster</a></li>

                                    <li><a href="#"><i class="fa fa-comment"></i> 16</a></li>

                                </ul>

                                <div class="post-desc">

                                    <p>Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.</p>

                                </div><!-- .post-desc -->

                                <a href="single.html" class="link">Read more</a>

                            </div><!-- .post-info -->

                        </div><!-- .inner-post -->

                    </article>


                    <article class="col-md-12 post">

                        <div class="inner-post shadow">

                            <div class="post-thumb">

                                <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog17.jpg" alt=""></a>

                            </div><!-- .post-thumb -->


                            <div class="post-info">

                                <h3 class="post-title"><a href="single.html">Back to school with courses of Universum</a></h3>

                                <ul class="post-meta">

                                    <li><a href="#"><i class="fa fa-clock-o"></i> February 10, 2016</a></li>

                                    <li><a href="#"><i class="fa fa-user"></i> Julie Carr</a></li>

                                    <li><a href="#"><i class="fa fa-comment"></i> 120</a></li>

                                </ul>

                                <div class="post-desc">

                                    <p>Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.</p>

                                </div><!-- .post-desc -->

                                <a href="single.html" class="link">Read more</a>

                            </div><!-- .post-info -->

                        </div><!-- .inner-post -->

                    </article>


                    <article class="col-md-12 post">

                        <div class="inner-post shadow">

                            <div class="post-thumb">

                                <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog18.jpg" alt=""></a>

                            </div><!-- .post-thumb -->


                            <div class="post-info">

                                <h3 class="post-title"><a href="single.html">Research works of students about to be start</a></h3>

                                <ul class="post-meta">

                                    <li><a href="#"><i class="fa fa-clock-o"></i> February 5, 2016</a></li>

                                    <li><a href="#"><i class="fa fa-user"></i> Anna Poster</a></li>

                                    <li><a href="#"><i class="fa fa-comment"></i> 16</a></li>

                                </ul>

                                <div class="post-desc">

                                    <p>Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.</p>

                                </div><!-- .post-desc -->

                                <a href="single.html" class="link">Read more</a>

                            </div><!-- .post-info -->

                        </div><!-- .inner-post -->

                    </article>


                    <article class="col-md-12 post">

                        <div class="inner-post shadow">

                            <div class="post-thumb">

                                <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog19.jpg" alt=""></a>

                            </div><!-- .post-thumb -->


                            <div class="post-info">

                                <h3 class="post-title"><a href="single.html">University campus with ut ligula sed tortor aliquam pretium</a></h3>

                                <ul class="post-meta">

                                    <li><a href="#"><i class="fa fa-clock-o"></i> February 1, 2016</a></li>

                                    <li><a href="#"><i class="fa fa-user"></i> Julie Carr</a></li>

                                    <li><a href="#"><i class="fa fa-comment"></i> 120</a></li>

                                </ul>

                                <div class="post-desc">

                                    <p>Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.</p>

                                </div><!-- .post-desc -->

                                <a href="single.html" class="link">Read more</a>

                            </div><!-- .post-info -->

                        </div><!-- .inner-post -->

                    </article>


                    <article class="col-md-12 post">

                        <div class="inner-post shadow">

                            <div class="post-thumb">

                                <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog20.jpg" alt=""></a>

                            </div><!-- .post-thumb -->


                            <div class="post-info">

                                <h3 class="post-title"><a href="single.html">Contest proin lacinia quam id venenatis egestas diam ante</a></h3>

                                <ul class="post-meta">

                                    <li><a href="#"><i class="fa fa-clock-o"></i> January 30, 2016</a></li>

                                    <li><a href="#"><i class="fa fa-user"></i> Anna Poster</a></li>

                                    <li><a href="#"><i class="fa fa-comment"></i> 16</a></li>

                                </ul>

                                <div class="post-desc">

                                    <p>Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.</p>

                                </div><!-- .post-desc -->

                                <a href="single.html" class="link">Read more</a>

                            </div><!-- .post-info -->

                        </div><!-- .inner-post -->

                    </article>


                    <article class="col-md-12 post">

                        <div class="inner-post shadow">

                            <div class="post-thumb">

                                <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog21.jpg" alt=""></a>

                            </div><!-- .post-thumb -->


                            <div class="post-info">

                                <h3 class="post-title"><a href="single.html">Football bibendum nisi non euismod tellus ligula</a></h3>

                                <ul class="post-meta">

                                    <li><a href="#"><i class="fa fa-clock-o"></i> January 29, 2016</a></li>

                                    <li><a href="#"><i class="fa fa-user"></i> Anna Poster</a></li>

                                    <li><a href="#"><i class="fa fa-comment"></i> 120</a></li>

                                </ul>

                                <div class="post-desc">

                                    <p>Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.</p>

                                </div><!-- .post-desc -->

                                <a href="single.html" class="link">Read more</a>

                            </div><!-- .post-info -->

                        </div><!-- .inner-post -->

                    </article>

                </div>


                <nav class="pagination">

                    <ul>

                        <li class="prev"><a href="#">Previous</a></li>

                        <li><span class="current">1</span></li>

                        <li><a href="#">2</a></li>

                        <li><a href="#">3</a></li>

                        <li><a href="#">4</a></li>

                        <li><a href="#">5</a></li>

                        <li><span>...</span></li>

                        <li><a href="#">68</a></li>

                        <li class="next"><a href="#">Next</a></li>


                    </ul>


                </nav>

            </main><!-- .site-main -->


            <div id="sidebar" class="sidebar col-md-3">

                <aside class="widget">

                    <h3 class="widget-title">Categories</h3>

                    <ul>

                        <li><a href="#">Business</a></li>

                        <li><a href="#">Technology</a></li>

                        <li><a href="#">Medicine</a></li>

                        <li><a href="#">Language</a></li>

                        <li><a href="#">Biological</a></li>

                        <li><a href="#">Architecture</a></li>

                    </ul>

                </aside><!-- .widget -->


                <aside class="widget courses-widget">

                    <h3 class="widget-title">Popular courses</h3>

                    <div class="courses">

                        <ul>

                            <li>

                                <a class="thumb" href="#"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/course-wd1.jpg" alt=""></a>

                                <div class="info">

                                    <h4><a href="#">The Secret to Making Money by starting a small business.</a></h4>

                                    <span><i class="fa fa-users"></i> 2289</span>

                                </div>

                            </li>


                            <li>

                                <a class="thumb" href="#"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/course-wd2.jpg" alt=""></a>

                                <div class="info">

                                    <h4><a href="#">Landscape Architecture, and Urban Planning</a></h4>

                                    <span><i class="fa fa-users"></i> 1762</span>

                                </div>

                            </li>


                            <li>

                                <a class="thumb" href="#"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/course-wd3.jpg" alt=""></a>

                                <div class="info">

                                    <h4><a href="#">Lesson english how to write a paragraph (writing)</a></h4>

                                    <span><i class="fa fa-users"></i> 1226</span>

                                </div>

                            </li>

                        </ul>

                    </div><!-- .widget -->

                </aside><!-- .widget -->

            </div><!-- .sidebar -->

        </div><!-- .row -->

    </div><!-- .container -->

</div><!-- .site-content -->
