





<section id="university-courses">

    <div class="container">

        <h2 class="main-title ribbon"><span>COURS DE BIBLIOTHÈQUE ET D'ÉDUCATION </span></h2>

        <p class="center">Les cours de bibliothèque et d'éducation sont organisés en fonction de la technologie et du bon cours pour vous..</p>

        <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-6 animation-element fade-in">

                <div class="service-box font-icon shadow">

                    <span class="icon"><i class="fa fa-university"></i></span>

                    <h3>beau art</h3>

                    <p>Quisque pulvinar libero dolor, quis bibendum eros euismod sit amet. Proin dapibus id diam at ullamcorper.</p>

                </div>

            </div>


            <div class="col-md-4 col-sm-6 col-xs-6 animation-element fade-in">

                <div class="service-box font-icon shadow">

                    <span class="icon"><i class="fa fa-calculator"></i></span>

                    <h3>Mathématique</h3>

                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubiltempus et leo at auctor.</p>

                </div>

            </div>


            <div class="col-md-4 col-sm-6 col-xs-6 animation-element fade-in">

                <div class="service-box font-icon shadow">

                    <span class="icon"><i class="fa fa-balance-scale"></i></span>

                    <h3>loi</h3>

                    <p>Sed tempor justo nec velit efficitur, sed pharetra sem luctus. Etiam vel erat ac urna pretium vitae est</p>

                </div>

            </div>


            <div class="col-md-4 col-sm-6 col-xs-6 animation-element fade-in">

                <div class="service-box font-icon shadow">

                    <span class="icon"><i class="fa fa-area-chart"></i></span>

                    <h3>Commerce</h3>

                    <p>Mauris molestie lectus eu libero placerat, in egestas ex dignissim. Praesent viverra varius dui id convallis</p>

                </div>

            </div>


            <div class="col-md-4 col-sm-6 col-xs-6 animation-element fade-in">

                <div class="service-box font-icon shadow">

                    <span class="icon"><i class="fa fa-book"></i></span>

                    <h3>Historique</h3>

                    <p>Curabitur vestibulum erat non massa venenatis iaculis. Morbi iaculis, sem vel luctus pulvinar dolor pharetra</p>

                </div>

            </div>


            <div class="col-md-4 col-sm-6 col-xs-6 animation-element fade-in">

                <div class="service-box font-icon shadow">

                    <span class="icon"><i class="fa fa-flask"></i></span>

                    <h3>BIOLOGIQUE</h3>

                    <p>Viverra massa ut fringilla lacus semper gravida. Mauris sollicitudin tortor vel ultrices lacus porta lobortis.</p>

                </div>

            </div>

        </div><!-- .row -->

    </div><!-- .container -->

</section><!-- #university-courses -->


<section id="call-to-action" class="call-to-action parallax-window" data-parallax="scroll" data-image-src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/call-to-action.jpg">

    <div class="container">

        <div class="call-to-action-content">

            <h2>Bibliothèque</h2>

            <div class="desc">Make Your Success a Priority</div>

            <a href="#" class="button primary rounded large animation-element fade-left"> Acheter </a>

            <a href="#" class="button pink rounded large animation-element fade-right">Emprunter</a>

        </div><!-- .call-to-action-content -->

    </div><!-- .container -->

</section><!-- .call-to-action -->


<section id="home-blog">

    <div class="container">

        <h2 class="main-title ribbon"><span> les dernières nouvelles </span></h2>

        <p class="center">Les cours de bibliothèque et d'éducation sont organisés en fonction de la technologie et du bon cours pour vous</p>


        <div class="row">

            <article class="col-md-4 col-sm-6 post animation-element fade-in">

                <div class="inner-post">

                    <div class="post-thumb">

                        <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog2.jpg" alt=""></a>

                    </div><!-- .post-thumb -->


                    <div class="post-info">

                        <h3 class="post-title"><a href="single.html"> Retour à l'école avec des cours de bibliothèque et d'éducation .</a></h3>

                        <ul class="post-meta">

                            <li><i class="fa fa-clock-o"></i> February  10, 2017</li>

                        </ul>

                        <div class="post-desc">

                            <p>Les travaux de recherche des étudiants sur le point de commencer</p>

                        </div><!-- .post-desc -->

                        <a href="single.html" class="link">Read more</a>

                    </div><!-- .post-info -->

                </div><!-- .inner-post -->

            </article>


            <article class="col-md-4 col-sm-6 post animation-element fade-in">

                <div class="inner-post">

                    <div class="post-thumb">

                        <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog3.jpg" alt=""></a>

                    </div><!-- .post-thumb -->


                    <div class="post-info">

                        <h3 class="post-title"><a href="single.html">Research works of students about to be start</a></h3>

                        <ul class="post-meta">

                            <li><i class="fa fa-clock-o"></i> February  10, 2016</li>

                        </ul>

                        <div class="post-desc">

                            <p>Morbi iaculis, sem vel luctus pulvinar, tortor dolor pharetra enim, porta gravida nulla turpis sed risus. In turpis ligula</p>

                        </div><!-- .post-desc -->

                        <a href="single.html" class="link">Read more</a>

                    </div><!-- .post-info -->

                </div><!-- .inner-post -->

            </article>


            <article class="col-md-4 col-sm-6 post animation-element fade-in">

                <div class="inner-post">

                    <div class="post-thumb">

                        <a href="single.html" class="mini-zoom"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/blog4.jpg" alt=""></a>

                    </div><!-- .post-thumb -->


                    <div class="post-info">

                        <h3 class="post-title"><a href="single.html">École scolaire, architecte porteuse de constructeurs</a></h3>

                        <ul class="post-meta">

                            <li><i class="fa fa-clock-o"></i> February  10, 2016</li>

                        </ul>

                        <div class="post-desc">

                            <p>Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.</p>

                        </div><!-- .post-desc -->

                        <a href="single.html" class="link">Read more</a>

                    </div><!-- .post-info -->

                </div><!-- .inner-post -->

            </article>

        </div>

    </div>

</section><!-- #home-blog -->


<section id="home-event">

    <div class="container">

        <h2 class="main-title ribbon"><span> ÉVÈNEMENTS À VENIR </span></h2>

        <p class="center">Event mauris nisl velit auctor eget ex eget, pretium elementum commodo massa metus</p>


        <div class="row">

            <div class="event col-md-4 col-sm-4 col-xs-4 paid animation-element fade-in">

                <div class="event-inner shadow">

                    <div class="event-thumb">

                        <a class="mini-zoom" href="single-event.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/event1.jpg" alt=""></a>

                    </div><!-- .event-thumb -->


                    <div class="event-date">

                        <span>06</span>feb

                    </div>


                    <div class="event-info">

                        <h3 class="post-title"><a href="single-event.html">The new era of positive psychology</a></h3>

                        <ul class="event-meta">

                            <li>At  8:30 am</li>

                            <li>Brigde Campus, New York</li>

                        </ul>

                    </div><!-- .event-info -->

                </div><!-- .event-inner -->

            </div><!-- .course -->


            <div class="event col-md-4 col-sm-4 col-xs-4 free animation-element fade-in">

                <div class="event-inner shadow">

                    <div class="event-thumb">

                        <a class="mini-zoom" href="single-event.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/event2.jpg" alt=""></a>

                    </div><!-- .event-thumb -->


                    <div class="event-date">

                        <span>18</span>feb

                    </div>



                    <div class="event-info">

                        <h3 class="post-title"><a href="single-event.html">Cambridge Campus, New York</a></h3>

                        <ul class="event-meta">

                            <li>At  9:00 am</li>

                            <li>Cambridge Campus, Casablanca</li>

                        </ul>

                    </div><!-- .event-info -->

                </div><!-- .event-inner -->

            </div><!-- .course -->


            <div class="event col-md-4 col-sm-4 col-xs-4 free animation-element fade-in">

                <div class="event-inner shadow">

                    <div class="event-thumb">

                        <a class="mini-zoom" href="single-event.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/event3.jpg" alt=""></a>

                    </div><!-- .event-thumb -->


                    <div class="event-date">

                        <span>22</span>feb

                    </div>



                    <div class="event-info">

                        <h3 class="post-title"><a href="single-event.html">How to connect social community?</a></h3>

                        <ul class="event-meta">

                            <li>At  10:00 am</li>

                            <li>Library And Education Campus, Rabat</li>

                        </ul>

                    </div><!-- .event-info -->

                </div><!-- .event-inner -->

            </div><!-- .course -->

        </div>


        <a href="ListeEvent/Event" class="button large rounded see-more-btn"> Voir plus ... </a>

    </div>

</section><!-- #home-event -->


<section id="home-professor">

    <div class="container">

        <h2 class="main-title ribbon"><span>PROFESSEUR EN VEDETTE</span></h2>

        <p class="center">Professor mauris nisl velit auctor eget ex eget, pretium elementum commodo massa metus</p>


        <div class="team-slider carou-slider animation-element fade-in">

            <div class="slider">

                <div class="item">

                    <div class="team box">

                        <div class="thumb">

                            <img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/team1.png" alt="">

                            <div class="thumb-info">

                                <div class="socials">

                                    <ul>

                                        <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>

                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                        <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>

                                    </ul>

                                </div>

                                <a href="#" class="read-more">Read More</a>

                            </div><!-- .thumb-info -->

                        </div><!-- .thumb -->


                        <div class="info">

                            <span class="name">Peter Hart</span>

                            <span class="job">Economic professor</span>

                            <p>Nam tempus ipsum non magna varius imperdiet. Etiam non sapien id diam cursus rutrum. Nulla nec leo ultrices, porttitor dui vel ornare massa.</p>

                        </div>

                    </div><!-- .team -->

                </div><!-- .item -->


                <div class="item">

                    <div class="team box">

                        <div class="thumb">

                            <img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/team2.png" alt="">

                            <div class="thumb-info">

                                <div class="socials">

                                    <ul>

                                        <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>

                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                        <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>

                                    </ul>

                                </div>

                                <a href="#" class="read-more">Read More</a>

                            </div><!-- .thumb-info -->

                        </div><!-- .thumb -->


                        <div class="info">

                            <span class="name">Betty Lane</span>

                            <span class="job">Biological Professor</span>

                            <p>Curabitur laoreet imperdiet eros, condimentum feugiat quam. Maecenas elementum metus leo, vitae pellentesque justo. Nunc iaculis, velit ac posuere</p>

                        </div>

                    </div>

                </div><!-- .item -->


                <div class="item">

                    <div class="team box">

                        <div class="thumb">

                            <img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/team3.png" alt="">

                            <div class="thumb-info">

                                <div class="socials">

                                    <ul>

                                        <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>

                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                        <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>

                                    </ul>

                                </div>

                                <a href="#" class="read-more">Read More</a>

                            </div><!-- .thumb-info -->

                        </div><!-- .thumb -->


                        <div class="info">

                            <span class="name">Richard Pierce</span>

                            <span class="job">Economics professor</span>

                            <p>Nullam sed egestas nisi, sit amet commodo ex. Pellentesque egestas lobortis enim, quis laoreet ligula sodales nec. In lectus ante, gravida id  consectetur</p>

                        </div>

                    </div>

                </div><!-- .item -->


                <div class="item">

                    <div class="team box">

                        <div class="thumb">

                            <img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/team4.png" alt="">

                            <div class="thumb-info">

                                <div class="socials">

                                    <ul>

                                        <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>

                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                        <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>

                                    </ul>

                                </div>

                                <a href="#" class="read-more">Read More</a>

                            </div><!-- .thumb-info -->

                        </div><!-- .thumb -->


                        <div class="info">

                            <span class="name">Janice Rose</span>

                            <span class="job">Mathematics professor</span>

                            <p>Suspendisse dolor ipsum, posuere nec velit at, commodo hendrerit neque. Sed vitae dui in sapien convallis rhoncus. Etiam sodales metus era</p>

                        </div>

                    </div>

                </div><!-- .item -->


                <div class="item">

                    <div class="team box">

                        <div class="thumb">

                            <img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/team1.png" alt="">

                            <div class="thumb-info">

                                <div class="socials">

                                    <ul>

                                        <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>

                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                        <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>

                                    </ul>

                                </div>

                                <a href="#" class="read-more">Read More</a>

                            </div><!-- .thumb-info -->

                        </div><!-- .thumb -->


                        <div class="info">

                            <span class="name">Peter Hart</span>

                            <span class="job">Economic professor</span>

                            <p>Nam tempus ipsum non magna varius imperdiet. Etiam non sapien id diam cursus rutrum. Nulla nec leo ultrices, porttitor dui vel ornare massa.</p>

                        </div>

                    </div><!-- .team -->

                </div><!-- .item -->

            </div><!-- .slider -->

        </div><!-- .team-slider -->

    </div><!-- .container -->

</section><!-- #home-professor -->


<section id="home-book">

    <div class="container">

        <h2 class="main-title ribbon"><span>   exemple des ouvrages </span></h2>

        <p class="center">  Les meilleurs livres de bibliothèque et la meilleure offre les prix </p>


        <div class="book-slider carou-slider animation-element fade-in">

            <div class="slider">

                <div class="item products grid2">

                    <div class="product">

                        <div class="p-inner shadow clearfix">

                            <span class="badge onnew">New</span>

                            <div class="p-thumb">

                                <a href="single-product.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/product1.jpg" alt=""></a>

                            </div><!-- .p-thumb -->


                            <div class="p-info">

                                <h3 class="p-title"><a href="single-product.html">Furiously Happy: A Funny Book About Horrible</a></h3>

                                <div class="p-meta">

                                    <span class="p-cat">by <a href="#">Jenny Lawson</a></span>

                                </div><!-- .p-meta -->



                                <div class="p-desc">

                                    <p>In this exciting adventure mixed with amazing scientific discovery, a young, exuberant explorer and geoscientist, journeys deep into the Amazon—where rivers boil and legends come to life. Ut porttitor nunc sed dolor pretium</p>

                                </div>

                                <div class="p-rating">

                                    <div class="star-rating">

                                        <span style="width:80%"></span>

                                    </div>

                                    <span class="review">

                                        <a href="#">2 Review(s)</a> | <a href="#">Add Your Review</a>

                                    </span>

                                </div><!-- .p-rating -->


                                <p class="price">

                                    <ins><span class="amount">$139</span></ins>

                                </p>

                            </div><!-- .p-info -->


                            <div class="p-actions">

                                <a class="button rounded primary add-to-cart-button" href="#"><i class="fa fa-shopping-bag"></i> Add to Cart</a>

                                <a class="compare-button" href="#"><i class="fa fa-retweet"></i> Compare</a>

                                <span class="saperator"> | </span>

                                <a class="wishlist-button" href="#"><i class="fa fa-heart"></i> Wishlist</a>

                            </div><!-- .p-actions -->

                        </div><!-- .p-inner -->

                    </div>

                </div><!-- .item -->


                <div class="item products grid2">

                    <div class="product">

                        <div class="p-inner shadow clearfix">

                            <div class="p-thumb">

                                <a href="single-product.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/product2.jpg" alt=""></a>

                            </div><!-- .p-thumb -->


                            <div class="p-info">

                                <h3 class="p-title"><a href="single-product.html">The Boiling River: Adventures and Discovery in the Amazon</a></h3>

                                <div class="p-meta">

                                    <span class="p-cat">by <a href="#">Andrés Ruzo</a></span>

                                </div><!-- .p-meta -->



                                <div class="p-desc">

                                    <p>Readers of all ages and walks of life have drawn inspiration and empowerment from Elizabeth Gilbert’s books for years. Now this beloved author digs deep into her own generative process to share her wisdom</p>

                                </div>

                                <div class="p-rating">

                                    <div class="star-rating">

                                        <span style="width:80%"></span>

                                    </div>

                                    <span class="review">

                                        <a href="#">2 Review(s)</a> | <a href="#">Add Your Review</a>

                                    </span>

                                </div><!-- .p-rating -->


                                <p class="price">

                                    <ins><span class="amount">$219</span></ins>

                                </p>

                            </div><!-- .p-info -->


                            <div class="p-actions">

                                <a class="button rounded primary add-to-cart-button" href="#"><i class="fa fa-shopping-bag"></i> Add to Cart</a>

                                <a class="compare-button" href="#"><i class="fa fa-retweet"></i> Compare</a>

                                <span class="saperator"> | </span>

                                <a class="wishlist-button" href="#"><i class="fa fa-heart"></i> Wishlist</a>

                            </div><!-- .p-actions -->

                        </div><!-- .p-inner -->

                    </div>

                </div><!-- .item -->


                <div class="item products grid2">

                    <div class="product">

                        <div class="p-inner shadow clearfix">

                            <div class="p-thumb">

                                <a href="single-product.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/product3.jpg" alt=""></a>

                            </div><!-- .p-thumb -->


                            <div class="p-info">

                                <h3 class="p-title"><a href="single-product.html">Big Magic: Creative Living Beyond Fear</a></h3>

                                <div class="p-meta">

                                    <span class="p-cat">by <a href="#">Elizabeth Gilbert</a></span>

                                </div><!-- .p-meta -->



                                <div class="p-desc">

                                    <p>In Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic Future, veteran technology journalist Ashlee Vance provides the first inside look into the extraordinary life and times of Silicon Valley's most audacious entrepreneur.</p>

                                </div>

                                <div class="p-rating">

                                    <div class="star-rating">

                                        <span style="width:80%"></span>

                                    </div>

                                    <span class="review">

                                        <a href="#">2 Review(s)</a> | <a href="#">Add Your Review</a>

                                    </span>

                                </div><!-- .p-rating -->


                                <p class="price">

                                    <ins><span class="amount">$139</span></ins>

                                </p>

                            </div><!-- .p-info -->


                            <div class="p-actions">

                                <a class="button rounded primary add-to-cart-button" href="#"><i class="fa fa-shopping-bag"></i> Add to Cart</a>

                                <a class="compare-button" href="#"><i class="fa fa-retweet"></i> Compare</a>

                                <span class="saperator"> | </span>

                                <a class="wishlist-button" href="#"><i class="fa fa-heart"></i> Wishlist</a>

                            </div><!-- .p-actions -->

                        </div><!-- .p-inner -->

                    </div>

                </div><!-- .item -->

            </div><!-- .slider -->

        </div><!-- .book-slider -->

    </div><!-- .container -->

</section><!-- #home-book -->
            </main><!-- .site-main -->
        </div><!-- .site-content -->