
@*<!doctype html>

<html>

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Checkout - Universum</title>


    <!-- Style CSS -->

    <link rel="stylesheet" type="text/css" href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/style.css">

    <!-- Responsive CSS -->

    <link rel="stylesheet" type="text/css" href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/css/responsive.css">

    <!-- Favicon -->

    <link rel="shortcut icon" type="image/png" href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/assets/favicon.png" />

</head>


<body>*@


    @*<div class="col-md-4">*@

        <div class="your-order">

            <h2>Your Order</h2>

            <table>

                <thead>

                    <tr>

                        <th>Product</th>

                        <th>Price</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>Big Magic  x 1</td>

                        <td>$199.00</td>

                    </tr>


                    <tr>

                        <td>How We'll Live on Mars  x 1</td>

                        <td>$110.00</td>

                    </tr>

                </tbody>

                <tfoot>

                    <tr class="cart-subtotal">

                        <th>Subtotal</th>

                        <td><span class="amount">$300.00</span></td>

                    </tr>

                    <tr class="shipping">

                        <th>Shipping</th>

                        <td>Free Shipping</td>

                    </tr>

                    <tr class="order-total">

                        <th>Total</th>

                        <td><span class="amount">$300.00</span></td>

                    </tr>

                </tfoot>

            </table>


            <form action="#" class="checkout-payment">

                <ul>

                    <li class="payment_method_bacs">

                        <div class="radio">

                            <input id="payment_method_bacs" type="radio" class="input-radio" name="payment_method" value="bacs" checked="checked">

                            <label for="payment_method_bacs">Direct Bank Transfer</label>

                        </div>



                        <div class="payment_box payment_method_bacs">

                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>

                        </div>

                    </li>

                    <li class="payment_method_cheque">

                        <div class="radio">

                            <input id="payment_method_cheque" type="radio" class="input-radio" name="payment_method" value="cheque">

                            <label for="payment_method_cheque">Cheque Payment</label>

                        </div>

                    </li>

                    <li class="payment_method_paypal">

                        <div class="radio">

                            <input id="payment_method_paypal" type="radio" class="input-radio" name="payment_method" value="paypal">

                            <label for="payment_method_paypal">PayPal</label>

                        </div>

                    </li>

                </ul>

                <input type="button" value="Place Order" class="button large rounded full place-order">

            </form><!-- .checkout-payment -->

        </div><!-- your-order -->

    @*<!-- jQuery -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/jquery-1.11.3.js"></script>

    <!-- Boostrap -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/bootstrap.min.js"></script>

    <!-- Jquery Parallax -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/parallax.min.js"></script>

    <!-- jQuery UI -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/jquery-ui.min.js"></script>

    <!-- jQuery Sticky -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/jquery.sticky.js"></script>

    <!-- OWL CAROUSEL Slider -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/owl.carousel.js"></script>

    <!-- PrettyPhoto -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/jquery.prettyPhoto.js"></script>

    <!-- Jquery Isotope -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/isotope.pkgd.min.js"></script>

    <!-- Main -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/main.js"></script>

</body>

</html>*@

